@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    width: 100%;
    background: #fa3757;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    color: #000;
}

header .logo {
    position: relative;
    max-width: 80px;
}
header .avatar{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    color: #fa3757;
}
header .avatar:hover{
    color: #fff;
    background: #b7001f;
    cursor: pointer;
}
header .secaoCabecalho{
    display: flex;
    align-items: center;
}
header p{
    font-weight: bold;
    color: #fff;
    margin-left: 2.5em;
}

.card-login {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
    margin: 0 auto;
    margin-top: 5%;
    padding-bottom: 5%;
}

.card-login h1{
    font-size: 60px;
    margin-bottom: 1em;
    text-align: center;
}
.card-login p{
    font-size: 30px;
    text-align: justify;
}

@media (max-width:991px) {
    .card-login {
        margin-top: 30%;
        padding: 10%;
    }
    .card-login h1{
        font-size: 40px;
    }
    .card-login p{
        font-size: 20px;
        text-align: center;
    }
}